
body {
    background-color: #222222;
}

.header-item {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#title-header {
    font-size: 0.5em;
    font-weight: 400;
    color: #6ABED0;
}

#title-name {
    color: #f0f0f0;
    font-weight: 800;
    font-style: italic;
    font-size: 4em;
    letter-spacing: 0.3em;
    margin-bottom: 45px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline-block;
    color: #757571;
}

nav li a {
    display: block;
    color: #757571;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

nav li a:hover {
    color: #6ABED8;
}



.flex-container {
    padding: 0;
    margin: 0;
    margin-top: 5%;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

}

.flex-container-nav {
    padding: 0;

    width: 30%;
    margin: auto;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-item-nav {
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 1em;

}

nav {
    align-items: center;
}

.flex-item {
    background: #6ABED8;
    padding: 5px;
    margin-top: 10px;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

section ul li a {
    font-size: 0.7em;
}

@media only screen and (max-width: 500px) {
    #title-name{
        font-size: 2.5em;
    }
}
