@import url("topNavigation.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Avenir";
  src: url('../fonts/bold?1519405899');
  src: url('../fonts/bold?&1519405899#iefix') format('embedded-opentype'), fonts/AvenirNextLTPro;
  font-weight: italic;
  font-style: 900;
}
.flex-container {
  padding: 0;
  margin: auto 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.flex-item {
  margin: auto 0;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  top: -100%;
  position: relative;
  border: 2px black;
  border-radius: 20px;
  padding: 50px;
  margin: 40px;
  height: 40vh;
  width: 20vw;
  max-width: 400px;
  min-width: 200px;
  hyphens: auto;
  background: #e0e0e0;
  font-family: 'Avenir';
  font-weight: 900;
  font-size: 3em;
}
.flex-item h3 {
  line-height: 50px;
}
.flex-item p {
  font-weight: 400;
  color: darkgrey;
  margin-bottom: 20%;
  line-height: 20px;
}
.flex-item a {
  color: black;
  text-decoration: none;
  display: inline-block;
  /*or block*/
}
.flex-item:nth-of-type(1) a:nth-of-type(1):hover {
  background: linear-gradient(to right, #f79d00, #ffa751);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-item:nth-of-type(1) a:nth-of-type(2):hover {
  color: #f79d00;
}
.flex-item:nth-of-type(2) a:hover {
  background: linear-gradient(to right, #c0392b, #8e44ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-item:nth-of-type(2) a:nth-of-type(2):hover {
  color: #c0392b;
}
.flex-item:nth-of-type(3) a:hover {
  background: linear-gradient(to right, #ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-item:nth-of-type(3) a:nth-of-type(2):hover {
  color: #ee0979;
}
.flex-item:nth-of-type(4) a:hover {
  background: linear-gradient(to right, #f3904f, #3b4371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-item:nth-of-type(4) a:nth-of-type(2):hover {
  color: #f3904f;
}

#title-name {
  background: linear-gradient(to right, #f3904f, #3b4371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 480px) {
  #title-name {
    font-size: 2.5em;
  }

  .flex-container-nav {
    width: 80%;
  }

  .flex-item {
    width: 60vw;
  }
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 5em;
  padding: 10%;
  background-color: black;
  color: whitesmoke;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  padding: 6%;
}

header {
  text-align: center;
}

.wrapper {
  text-align: center;
}

p {
  padding-top: 10%;
  font-size: 0.3em;
  color: lightgrey;
}
