

#title-name {
    color: black;
}

#title-header {
    font-size: 1em;
    font-weight: 400;
    color: whitesmoke;
    border-style: solid;
    border-color: #6ABED0;
    border-radius: 7px;
    border-width: 5px;
    width: 100px;
    background-color: #6ABED0;
}

.text-header {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 2em;
}

.dear-bash {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3em;
    margin-bottom: 100px;
    margin-top: 100px;
}

#content {
    width: 50%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 300px;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: whitesmoke;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;

    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}


.tooltip:hover, .tooltip:focus {
    text-shadow: 2px 2px black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

nav ul li, nav li a{

    color: whitesmoke;
}

@media only screen and (max-width: 500px) {
    #content{
        width: 90%;
    }
    .dear-bash{
        line-height: 100px;
    }
    #title-name{
        font-size: 2.5em;
    }
}
