@import "compass/css3";

.text-header {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 800;
    letter-spacing: 0.1em;
    font-size: 2em;
}

.dear-bash {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3em;
    margin-bottom: 0;
}

#content {
    width: 80%;
    margin: 0 auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: #6ABED8;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}

.tooltip:hover  {
    color: #6AB456;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
