
$color-link1: #f79d00;
$color-link1-2:#ffa751;
$color-link2: #c0392b;
$color-link2-2:#8e44ad;
$color-link3: #ee0979;
$color-link3-2: #ff6a00;
$color-link4:#f3904f;
$color-link4-2:#3b4371;
$background-grad1: #f6d365;
$background-grad1-2: #fda085;
