@import url("../../../css/topNavigation.css");
@import url("SOPLoveLetters.css");

body {
    background: black;
}

#content{
    background-color: rbga(255,255,255,0);
    border-radius: 50px;
    border-color: rgb(255,59,48);;

    border-style: solid;
    border-width: 1px;
    color: whitesmoke;
}

.frowny{
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    left:60%;
    top:170px;
    font-size: 10em;
    color: rgb(255,59,48);;
    text-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#title-name, .text-header{
    color: whitesmoke;
}

.tooltip{
    color: rgb(255,59,48);
}
