@import 'icon/*.png';
@include all-icon-sprites(true);

li {
    list-style:none;
    display: inline-block;

    a {
        display: inline-block;
        width: 128px;
        height: 128px;

        span {
            position: absolute;
            top: -9999em;
            left: -9999em;
        }
    }
}

.icons {
    display:flex;
    text-align: center;
    flex-wrap: wrap;

    justify-content: center;
    width:100%;
    margin: auto 0;
    padding-top: 2%;

}
