
:root {
    //page background colorss
    --item-1: #F5D83C;

    --item-2: #42B8AA;

    --item-3: #1F174E;

    --lightside-bg: #42B8AA;

    --darkside-bg:  #C6152F;

    --dark-font-color: whitesmoke;
    --dark-empire-color: #C6152F;
    --light-font-color: whitesmoke;
    --light-rebels-color: #EAD4AE;

}
