:root {
    //page background colorss
    --page-bg: #F2FFE1;
    --header-bg: #6ADCDD;
    --nav-bg: #A8E8CD;
    --main-bg: #F0A007;
    --aside-bg: #D94546;
    --footer-bg: #6A5ACD;
    --info-bg: black;
    --info-txt: white;
}
